@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* app.js */
/* **************************************************** */

html {
  background-color: #e5e5e5;
}

.body {
  margin-top: 150px;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.navbar {
  background-color: #ffffff;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  list-style-type: none;
  padding: 40px 0;
  text-decoration: none;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  height: 125px;
}

.cyf-log {
  height: 5vh;
}
.skipped{
  background-color:#BDBDBD;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #596275;
  left: 321px;
  top: 1114px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: fit-content;
  font-weight: 700;
  padding: 0 1rem;
  font-size: 19px;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin: 2.5%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  height: 45px;
}

.link-button:hover {
  background-color: #f5f6fa;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* Mentors */
/* **************************************************** */

.select-container {
  display: flex;
  justify-content: center;
}

.select-input {
  align-self: flex-start;
}
.topFilterSelect{
  margin-left:15px;
}
.filterButtons{
  margin-top:15px;
}
.card {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 5px;
}

.quiz-button {
  background: #eeeeee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  border: 0.1px solid #d5d5d5;
  outline: none;
  padding: 7px;
}

.quiz-button:hover {
  background-color: #ffffff;
}

.card-button {
  margin: 20px;
}

.quizQuestions {
  background-color: #eeeeee;
  margin: 20px;
}

.quiz-handler {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  margin: 20px 0;
  background-color: #e5e5e5;
}

.cardBlock {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-around;
  align-items: flex-start;
  margin-top: 15px ;
}

.answer {
 /* Heading/ 6 - Open Sans SemiBold */

 font-family: Open Sans;
 font-style: normal;
 font-weight: bold;
 font-size: 10px;
 line-height: 1rem;
 /* identical to box height, or 150% */
 
 letter-spacing: 0.15px;
 
 /* Type / Black Secondary */
 
 color: rgba(0, 0, 0, 0.6);
 mix-blend-mode: normal;
}

.question,
.code {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  justify-content: space-evenly;
}

.form-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 65px;
  text-align: center;
  color: #757575;
}

.quiz-selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  /* background-color: #eeeeee; */
}

.answers,
.question-and-code-containter {
  padding: 5px;
  margin: 5px 5px 5px 0;
}

.question-elements {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Students */
/* **************************************************** */

.survey-form {
  background-color:  #EEEEEE;;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.surveyPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.oneName{
 text-align: center;
}

/* Message */
/* **************************************************** */

.message-container {
  position: fixed;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border: 1px solid rgb(4, 199, 4);
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: fit-content;
  min-height: 200px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 1;
  opacity: 0.96;
  border-radius: 5px;
}

.close-container {
  width: 95%;
  background-color: rgba(4, 199, 4, 0.01);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 20px;
}

.close-message {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(4, 199, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  cursor: pointer;
  padding: 5px;
}

/* Results */
/* **************************************************** */

table,
th,
td {
  border: 1px solid black;
}

.quizez {
  margin: 5vh;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  font-size: 16px;
  min-height: 100%;
  margin-top: 125px;
}

.corect {
  background-color:#81C784;;
}

.incorect {
  background-color: #F44336;
}
.studentCodeinput{
  align-self: center;
}
.unknown {
  background-color: #03A9F4;
}
.logoContainer{
justify-items: center;
}
.welcome{
font-style: normal;
font-weight: 300;
font-size: 3rem;
line-height: 4rem;
}
.welcomeContainer{
  margin-top:30%;
  justify-items: center;
}
.welcomeBig{
  color: #03A9F4;
  font-style: normal;
  font-weight: 300;
  font-size: 30rem;
  line-height: 131px;
  }
.quizzTimeLogo{
  justify-self: center;
  width:15%;
  margin-left:25%;
  margin-right:25%;
}
/* New Question */
/* **************************************************** */

.text-area {
  width: 80%;
  height: 100px;
}
.form-element{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
  display: flex;
}
.tagField{
  margin:3%;
  border-color: #BDBDBD;
}
.text-area{
  align-self: center;
}
.formLeftAlign{
  align-items: flex-start;
}